<!DOCTYPE html>
<html>
<head>
</head>

<!-- <link rel="stylesheet" type="text/css" href="/../../node_modules/bootstrap/dist/css/bootstrap.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<body>
<div class="container">
	<div *ngIf ="mostrar_contacto == false">
		<button class="btn btn-primary btn-block" (click)="mostrarInformacionDeContacto(true)">Contacto</button>
	</div>
	<div *ngIf ="mostrar_contacto == true">
		<button class="btn btn-primary btn-block" (click)="mostrarInformacionDeContacto(false)">Contacto</button>
		<p>informacion de contacto de chango</p>
	</div>
</div>

</body>
</html>