<!DOCTYPE html>
<html>
<head>
</head>

<!-- <link rel="stylesheet" type="text/css" href="/../../node_modules/bootstrap/dist/css/bootstrap.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<body>
<div class="container">
	<div *ngIf ="mostrar_tasa == false">
		<button class="btn btn-primary btn-block" (click)="seMuestraLaTasa(true)">Tasa</button>
	</div>
	<div *ngIf ="mostrar_tasa == true">
		<button class="btn btn-primary btn-block" (click)="seMuestraLaTasa(false)">Tasa</button>
		<p>La tasa del dia es algunos soles</p>
	</div>
</div>

</body>
</html>